{% extends 'base.html.twig' %}

{% block body %}

    <h1 align="center">Witaj na stronie głównej Kalkulatora MacroC</h1>
    <br><br>

    <div class="col-lg-4 ">
<p>
    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-lg" role="button">REJESTRACJA</a>
</p>
<br>
<p>
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-lg" role="button">LOGOWANIE</a>
</p>
    </div>

{% endblock body %}

